@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-600: hsl(240, 6%, 13%);
  --clr-neutral-900: hsl(240, 4%, 5%);
  --clr-brand-primary-700: hsl(276, 57%, 32%);
  --clr-brand-primary-500: hsl(276, 62%, 52%);
  --clr-highlight-500: hsl(43, 100%, 52%);
  --brand-grandient: linear-gradient(
    130deg,
    var(--clr-brand-primary-500),
    var(--clr-highlight-500)
  );
}

body {
  background: linear-gradient(
    130deg,
    var(--clr-brand-primary-500),
    var(--clr-highlight-500)
  );
}

h1,
h2,
h3,
button {
  font-family: "Press Start 2P", cursive;
}

h4,
h5,
h6,
p,
a,
li,
input,
textarea,
label,
select,
option,
.btn {
  font-family: "Roboto", sans-serif;
}

body > header {
  color: var(--clr-neutral-100);
  text-align: center;
  padding: 1rem;
}

body > header > h1 {
  font-family: "Press Start 2P", cursive;
  font-size: 2rem;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;

  padding: 1rem;
}

main > section {
  background-color: var(--clr-neutral-600);
  color: var(--clr-neutral-100);
  padding: 1rem;
  border-radius: 8px;
}

ul.skill-bar-list {
  padding: 0;

  display: flex;
  flex-direction: column;
  gap: 8px;
}
li.skill-exp-bar {
  position: relative;
  padding: 0.3rem 1rem;
  background: transparent;
  z-index: 1;
  border: 1px solid var(--clr-brand-primary-700);
  cursor: pointer;
}
li.skill-exp-bar::after,
li.skill-exp-bar::before {
  content: "";
  position: absolute;
}

li.skill-exp-bar::after {
  top: 0;
  bottom: 0;
  left: 0;
  background: var(--brand-grandient);
  z-index: -1;
  transform-origin: left;
  transform: scaleX(1);
  transition: transform 300ms ease-in-out;
}

li.skill-exp-bar:hover::after,
li.skill-exp-bar:focus::after {
  transform: scaleX(0);
}

li.skill-exp-bar[value="100"]::after {
  width: 100%;
}
li.skill-exp-bar[value="90"]::after {
  width: 90%;
}
li.skill-exp-bar[value="80"]::after {
  width: 80%;
}
li.skill-exp-bar[value="70"]::after {
  width: 70%;
}
li.skill-exp-bar[value="60"]::after {
  width: 60%;
}
li.skill-exp-bar[value="50"]::after {
  width: 50%;
}
li.skill-exp-bar[value="40"]::after {
  width: 50%;
}

body > footer {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: flex-end;

  background-color: var(--clr-neutral-600);

  color: var(--clr-neutral-100);
  width: 100%;

  padding: 1rem 2rem;
}

footer .footer-icons {
  color: var(--clr-neutral-100);
}
